{% extends "layout.html" %}

{% block title %}
    Contact Me
{% endblock %}

{% block main %}

<header class="bg-secondary text-white text-center p-5 contact-hero">
    <h1>Contact</h1>
</header>

<div class="container mt-5">
    <h2>Reach out to us!</h2>
</div>

<div class="socials-container mt-5">
    <a href="#" class="facebook" data-social="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="instagram" data-social="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" class="tiktok" data-social="TikTok"><i class="fab fa-tiktok"></i></a>
    <a href="#" class="x-twitter" data-social="X"><i class="fab fa-x-twitter"></i></a>
    <a href="#" class="discord" data-social="Discord"><i class="fab fa-discord"></i></a>
</div>




{% endblock %}